<header class="bg-white shadow-sm">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center py-4">
            <div class="flex items-center space-x-2">
                <span class="material-icons text-3xl text-[var(--primary-color)]">menu</span>
                <h1 class="text-2xl font-bold text-gray-800">EduConnect</h1>
            </div>
            <nav class="hidden md:flex items-center space-x-6">
                <a class="text-gray-600 hover:text-[var(--primary-color)] font-semibold" routerLink="/toturs">Tutotrs</a>

                <a class="text-gray-600 hover:text-[var(--primary-color)] font-semibold" routerLink="/services">Services</a>
                
                <!-- <a class="text-[var(--primary-color)] font-bold border-b-2 border-[var(--primary-color)] pb-1" >Request a Tutor</a> -->
                
                <!-- <a class="text-gray-600 hover:text-[var(--primary-color)] font-semibold" href="#">My Work</a> -->
            </nav>
            <div class="flex items-center space-x-4">
                <span
                    class="material-icons text-gray-600 hover:text-[var(--primary-color)] cursor-pointer">search</span>
                <span class="material-icons text-gray-600 hover:text-[var(--primary-color)] cursor-pointer">email</span>
                <img alt="User avatar" class="rounded-full w-8 h-8"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuCqK3FPBv_CzflD-RXAB9aSYFqyM8KfABe_PGGqJWc9cjKNNnq8eLhAAcJfxnifXKyexId1MhRgzpx9anfPiZC66elE5UZklDtJKgSXX9u640OoKvgEzMJVQnSYCYlKRsVoVg9OmIppp8UO3tnjs8wCl8qAcEqwybKNLZJEUUk-sO1-pygldHUkyUUY6J8TVBFs-Q9WdrXXsz4V1UHSBgyzqvRCPL7zaTt8XxNGjwOxL2eJ4Ofeewls0op2uxzeeUnBDtqZIBXGEc4" />
            </div>
        </div>
    </div>
</header>